<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinephile</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Oleo+Script+Swash+Caps&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="nav">
        <img class="image" src="Images/Cinephile1.png" alt="Cinephile">
        <div class="navLi">
            <!-- <h1 class="tit"></h1> -->
            <ul>
                <button class="homeButton"><a href="genre">Movies</a></button>
                <button class="homeButton"><a href="webseries">Webseries</a></button>
                <button class="homeButton"><a href="home">Home</a></button>
            </ul>
        </div>
    </div>
    <div class="top">
        <h1 class="title">Welcome <span class="tit">
                <%=username%>
            </span></h1>
        <p class="content">Hey movie lover this is the place where you can get all the information regarding the new
            movies, shows and a lot of fun stuff.</p>
            <form action="/secrets" method="post" id="form">
                <input type="text" placeholder="Search" id="search" autocomplete="off" class="search" name="search">
                <button type="submit" class="serachButton">Search</button>
            </form>
        
    </div>
    <div class="title1">
        <div class="heading">
            <button type="button" class="bt" onclick="redir()">←</button>
            <h1 id="topic">Latest movies in theaters</h1>
        </div>
        
    </div>
    <div id="myNav" class="overlay"> //this myNav is taken from W3 schools for carosel of youtube video

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content" id="overlay-content"></div>
        <!-- &#8658; this is html code for arraw -->
        <a href="javascript:void(0)" class="arrow left-arrow" id="left-arrow">&#8656;</a> 
        <a href="javascript:void(0)" class="arrow right-arrow" id="right-arrow">&#8658;</a>
      
      </div>
      
      <!-- Use any element to open/show the overlay navigation menu -->
      <span onclick="openNav()">open</span>
    <main id="main">
        
    </main>
    <div>
        <%var year=new Date().getFullYear();%>
        <footer>Copyright @ <%=year%> | www.cinephile.com</footer>
    </div>
    <script src="/recommend.js"></script>
</body>

</html>