<%- include("header") %>
<div class="login">
    <h1>SignUp</h1>
    <div><img class="image" src="Images/Cinephile1.png" alt="Cinephile"></div>
    <form action="/signup" method="post">
        <label for="name">Name</label>
        <input type="text" name="name"><br>
        <label for="username">Username</label>
        <input type="email" name="username" ><br>
        <label for="password">Password</label>
        <input type="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
</div>
<%- include("footer") %>